<div class="col s12 m10 offset-m1">
  <div class="card-panel moon darken-1">
    <div class="card-content">
      <span class="card-title center">
        <h1>About Me</h1>
      </span>
      <hr>
      <div class="row">
        <div class="col s12 m6">
          <h3 class="center">My Story</h3>
          <br />
          <div class="row">
            <div class="col s12 m3">
              <img src="../../../assets/images/32748506.png" alt="" class="responsive-img circle">
            </div>
            <!-- Text next to portrait -->
            <div class="col s12 m9">
              <p>My name is Jacquelyne Mido Glover. I go by Jack for short. I was born in Frankfurt, Germany to a
                military family with strong values of open mindedness, hard work, loyalty, patriotism and adaptation.</p>
              <p>I want to get my foot in the door in the growing tech industry as a JavaScript, Front End, or MERN
                Fullstack developer, creating functional code for web apps.</p>
              <p>I am an artist and a writer. I live for the thrill of producing something from nothing. There is no
                more magical feeling in the world than to create.</p>
            </div>
          </div>
          <!-- Text below portrait -->
          <div class="row">
            <div class="col s12">
              <p>The University of Colorado at Boulder is my Alma mater. There I graduated as a summa cum laude with a
                Bachelor’s of Arts in English.</p>
              <p>I've worked as a staff writer at Metrosphere Magazine where my focus was on art and art events in the
                Denver Metro area. I also worked as the program coordinator for a non-profit teen mentorship program in
                Idaho Springs called the Clear Creek Rock House.</p>
              <p>Currently I am a tutor and a teaching assistant at the University of Denver Coding Boot Camp.</p>
              <p>See my <a href="../../../assets/images/Resume.pdf" id="bioResume">Resume!</a></p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <h3 class="center">Skills</h3>
          <br />
          <ul class="center">
            <li><strong>
                <h5>Tech:</h5>
              </strong></li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Bootstrap, Materialize, and SASS</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>NodeJS</li>
            <li>mySQL, postgreSQL, sequelize</li>
            <li>Express</li>
            <li>Handlebars</li>
            <li>MongoDB, Mongoose</li>
            <li>React 16</li>
            <li>Angular 7</li>
            <li><strong>
                <h5>Other:</h5>
              </strong>
              Customer Relations, Team Building, Teaching, Lesson Planning, Public Relations, Mentoring, Coaching,
              English Composition, Research, Public Speaking
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h3 class="center">Hobbies</h3>
          <br />
          <div class="container-fluid">
            <div class="row">
              <div class="col s12 m2 hobbies" id="one">
                <h5 class="banner"> Hiking/Camping</h5>
              </div>
              <div class="col s12 m2 hobbies" id="two">
                <h5 class="banner"> D&D</h5>
              </div>
              <div class="col s12 m2 hobbies" id="three">
                <h5 class="banner"> Painting</h5>
              </div>
              <div class="col s12 m2 hobbies" id="four">
                <h5 class="banner">Writing</h5>
              </div>
              <div class="col s12 m2 hobbies" id="five">
                <h5 class="banner">Reading</h5>
              </div>
              <div class="col s12 m2 hobbies" id="six">
                <h5 class="banner">Coding</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-action">
      <a href="#">This is a link</a>
      <a href="#">This is a link</a>
    </div>
  </div>
</div>