<footer class="page-footer midnight">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact Info</h5>
          <p class="grey-text text-lighten-4">jackmidoglover@gmail.com</p>
        </div>
        <div class="col l4 offset-12 s12 center">
          <h5 class="white-text">Links</h5>
          <ul class="list-inline">
            <li><span style="font-size: 3em;"><a href="https://github.com/jackmidoglover"><i class="fab fa-github"></i> </a></span></li>
            <li><span style="font-size: 3em;"><a href="https://www.linkedin.com/in/jackmidoglover/"><i class="fab fa-linkedin-in"></i></a></span></li>
            <li><span style="font-size: 3em;"><a href="https://stackoverflow.com/users/8811683/jacq-glover"><i class="fab fa-stack-overflow"></i></a></span></li>
            <li><span style="font-size: 3em;"><a href="../../assets/images/Resume.pdf"><i class="far fa-file"></i></a></span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p class="left">
        &copy; 2018 Jacquelyne Glover
        </p>
        <ul class="right list-inline">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#portfolio">Portfolio</a>
          </li>
          <li>  
            <a href="#aboutMe">About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>