@import './variables';
@import './mixins';

/* You can add global styles to this file, and also import other style files */

.firstMoon {
    background-image: url('../assets/images/nightsky.jpeg');
}

.crescentMoon{
    background-image: url('../assets/images/crescent-moon.jpeg');
}

.newMoon{
    background-image: url('../assets/images/newmoon.jpeg');
}

.night {
    background-color: $dusk;
}

body, html {
    min-width: 100%;
}


@media screen and (device-max-width: $break-small){
    .firstMoon {
        background-image: url('../assets/images/nightskymobile.jpg');
    }
}