@import '../../sass/variables';

.content {
    height: auto;
    // min-height: 100%;
    // overflow: auto;
    background-color: $night;
    padding-bottom: 50px;
    // display: inline-block;
    clear: both;
}

.fix {
    margin: 0;
    padding: 0;
}

.title {
    font-family: $header-font;
    font-size: $header-font-size;
    color: $dusk;
    // text-shadow: 0 0 5px $moon;
}

.portfolio {
    border-color: $dusk;
    background-color: $dusk;
    color: $dusk;
}

.upLink {
    font-size: 25px;
    background-color: rgba(0,0,0, 0.3);
    color: darkgray;
    position: relative;
    top: 0;
    // border-top: 2px solid darkgray;
    min-width: 100%;
    font-family: "Josefin Slab", cursive;
    padding: 10px;
    font-weight: 700;
    a {
        color: darkgray;
    }
    p {
        // margin-top: 0;
    }

}

.upLink:hover{
    background-color: rgba(0,0,0, 0.5);
    // a {
    //     color: white;
    // }
}
.downLink:hover{
    background-color: rgba(0,0,0, 0.5);
    // a {
    //     color: white;
    // }
}

.downLink {
    font-size: 25px;
    background-color: rgba(0,0,0, 0.3);
    color: darkgray;
    position: relative;
    bottom: 0;
    // border-top: 2px solid darkgray;
    min-width: 100%;
    font-family: "Josefin Slab", cursive;
    padding: 10px;
    font-weight: 700;
    margin-bottom: -50px;
    a {
        color: darkgray;
    }

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.hobbies { 
    height: 250px;
    text-align: center;
    padding: 0 !important;
    // background-color: black;
}

#one {
    background-image: url('../../assets/images/hobbies/redrocks.jpg');
    background-size: cover;
}

#two {
    background-image: url('../../assets/images/hobbies/dandd.jpg');
    background-size: cover;
}

#three {
    background-image: url('../../assets/images/hobbies/painting.jpg');
    background-size: cover;
}

#four {
    background-image: url('../../assets/images/hobbies/writing.jpg');
    background-size: cover;
}

#five {
    background-image: url('../../assets/images/hobbies/reading.jpeg');
    background-size: cover;
}

#six {
    background-image: url('../../assets/images/hobbies/coding.png');
    background-size: cover;
}

.banner{
    position: relative;
    top: 65%;
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
    color: white;
}

#bioResume{
    color: $night;
}

#bioResume:hover{
    color: white;
}