@import '../sass/variables';

#logo {
    color: $moon-light; 
    font-family: 'Fredericka the Great', cursive;
    font-size: 150px;
    margin: 0 auto;
    border: 5px solid white;
    padding: 50px;

}

body {
    background-color: $dusk;
}

@media screen and (max-width: $break-small){

    #logo{
        font-size: 73px;
        margin-left: 0;
        padding: 0;
    }
}