<!-- <div class="container-fluid"> -->
<app-parallax [className]="parallaxClasses[0]">
  <div class="valign-wrapper">
        <h1 id="logo">Jacquelyne Glover</h1>
  </div>
  
</app-parallax>
<app-content-area>
  <app-bio></app-bio>
</app-content-area>
<app-parallax [className]="parallaxClasses[1]">

</app-parallax>
<app-content-area>
  <h2 class="center">Portfolio</h2>
  <app-portfolio-card *ngFor="let project of projects" [project]="project"></app-portfolio-card>
</app-content-area>
<app-parallax [className]="parallaxClasses[2]"></app-parallax>
<app-footer></app-footer>
<!-- </div> -->