@import '../sass/variables';

html {
    scroll-behavior: smooth;
}

#logo {
    color: $moon-light; 
    font-family: 'Fredericka the Great', cursive;
    font-size: 150px;
    margin: 0 auto;
    border: 5px solid white;
    padding: 50px;

}

body {
    background-color: $dusk;
    scroll-behavior: smooth;
}

.downLinkTop {
    font-size: 25px;
    background-color: rgba(0,0,0, 0.3);
    color: darkgray;
    position: absolute;
    bottom: 0;
    // border-top: 2px solid darkgray;
    min-width: 100%;
    font-family: "Josefin Slab", cursive;
    padding: 0;
    font-weight: 700;
    a {
        color: darkgray;
    }

}

.downLinkTop:hover{
    background-color: rgba(0,0,0, 0.5);
    a {
        color: white;
    }
}

@media screen and (max-width: $break-small){

    #logo{
        font-size: 73px;
        margin-left: 0;
        padding: 0;
    }
}