<div class="col s12 m3">
  <div class="card medium">
    <div class="card-image waves-effect waves-block waves-light" id="image">
      <img [src]="project.imagePath" alt="project.title" />
    </div>
    <div class="card-content titleArea moon">
      <span class="card-title activator moon"> {{project.title}} <i class="material-icons right">keyboard_arrow_up</i></span>
    </div>
      <div class="card-reveal">
        <span class="card-title moon"> {{project.title}} <i class="material-icons right">close</i></span>
        <p>{{project.description}}</p>
        <a class="waves-effect waves-light btn modal-trigger" (click)="onModalClick($event)">Modal</a>
        <hr />
        <a class="btn linkBtn" [href]="project.projectLink">Open {{project.title}}</a>
        <a class="btn linkBtn" [href]="project.repoLink">See Code</a>
      </div>
    </div>
</div>
      <app-metric [projectDetail]="project" *ngIf="modalShow" (modalWindow)="onModalClick()"></app-metric>

     