@import '../../../sass/variables';

.linkBtn{
    margin-right: 10px;
    background-color: $dusk;
}

.card {
    background-color: $night;
    max-height: 75%;
}

.moon {
    color: $moon;
    font-family: $logo-font-family;
    font-size: 45px;
}

.card-reveal {
    background-color: $night;
    color: $moon;
    font-family: $header-font;
    size: 16px;
}


#image {
    max-height: 75%;
}