@import '../../../sass/variables';

.moon {
    background-color: $dusk;
    color: $moon;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color: $dusk;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
}