@import '../../sass/variables';

#parallax {
    min-height: 50vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
}

@media screen and (max-width: $break-medium){
    #parallax{
        min-height: 148vw;
        background-size: cover ;
        resize: both;    
    }
}

@media screen and (max-width: $break-small){
    #parallax{
        min-height: 148vw;
    }
}
